header {
  width: 100%;
  padding-top: 50px;
  position: absolute;
}

header nav li {
  margin-left: 40px;
}

header nav a {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

header nav button {
  text-decoration: none;
  background-color: #B7EAAF;
  margin-left: 40px;
  border-color: #B7EAAF;
  border-radius: 10px;
  width: 160px;
  height: 40px;
}

main .home-intro .background {
  position: relative;
}

main .home-intro .background img {
  position: absolute;
  left: 0;
  z-index: -1;
}

main .home-intro .content {
  position: absolute;
  top: 250px;
}

main .home-intro .content .home-content {
  color: white;
}

main .home-intro .content .home-content h1 {
  font-size: 64px;
  margin-bottom: 40px;
}

main .home-intro .content .home-content p {
  font-size: 30px;
  margin-bottom: 40px;
}

main .home-intro .content .home-content button {
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 40px;
  margin-bottom: 95px;
}

main .home-support {
  padding-top: 950px;
  text-align: center;
}

main .home-support button {
  width: 260px;
  height: 60px;
  color: white;
  background-color: #375739;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

main .home-support .content .content-start {
  color: #B7EAAF;
  padding-top: 24px;
  margin-bottom: 0;
}

main .home-support .content .content-description {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  padding-top: 40px;
  margin-bottom: 0;
}

main .home-support .content .content-title {
  color: #355342;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  padding-top: 100px;
  margin-bottom: 0;
}

main .home-support .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home-support .frame .frame-list .img-style {
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  height: 225px;
  -webkit-filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
}

main .home-support .frame .frame-list .picture-title {
  margin: 0px 0px;
  height: 225px;
  width: 300px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  position: relative;
}

main .home-support .frame .frame-list .picture-title .picture-title_top {
  font-weight: bold;
  padding: 24px 0px 120px 24px;
}

main .home-support .frame .frame-list .picture-title .picture-title_bottom {
  font-size: 18px;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 24px;
}

main .home-support .frame .frame-list .picture-title .picture-title_bottom img {
  position: absolute;
  top: 171px;
  left: 246px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */