$myColor:white;
$myFontSise: 20px;

header{
    width: 100%;
    padding-top: 50px;
    position: absolute;
    nav{
        li{
            margin-left: 40px;
        }
        a{
            color: $myColor;
            font: {
                
                // color: $myColor;
                size: $myFontSise;
                
            }
            font-weight: bold;

        }
        button{
            $mycolor: #B7EAAF;
            text-decoration: none;
            background-color: $mycolor;
            margin-left: 40px;
            border-color: #B7EAAF;
            border-radius: 10px;
            width: 160px;
            height: 40px;
        }
    }
}
main{
    .home-intro{
        .background{
            position: relative;
            img{
                position: absolute;
                left: 0;
                // width: 100%;
                z-index: -1;
            }
        }
        
        .content{
            position: absolute;
            top: 250px;
            .home-content{
                color: $myColor;
                h1{
                    $myFontSise:64px;
                    font-size: $myFontSise;
                    margin-bottom: 40px;
                }
                p{
                    // width: 680px;
                    $myFontSise:30px;
                    font-size: $myFontSise;
                    margin-bottom: 40px;
                }
                button{
                    color: $myColor;
                    box-sizing: border-box;
                    border-radius: 20px;
                    border: 1px solid $myColor;
                    $myColor:rgba(0, 0, 0, 0.8);
                    background: $myColor;
                    width: 200px;
                    height: 40px;
                    margin-bottom: 95px;
                }
                // .home-icon{
                //     .container-fluid{
                //         margin-top: 95px;
                //     }
                // }
            }
        }
    }
    .home-support{
        padding-top: 950px;
        text-align: center;
        button{
            width: 260px;
            height: 60px;
            color: $myColor;
            $myColor:#375739;
            background-color:$myColor;
            $myColor:rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 20px $myColor;
            border-radius: 40px;
            $myFontSise:24px;
            font-size: $myFontSise;
            font-style: normal;
            font-weight: bold;
        }
        .content{
            .content-start{
                $myColor:#B7EAAF;
                color: $myColor;
                padding-top: 24px;
                margin-bottom: 0;
            }
            .content-description{
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                padding-top: 40px;
                margin-bottom: 0;
            }
            .content-title{
                $myColor:#355342;
                color: $myColor;
                font-family: SF Pro Display;
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 100%;
                padding-top: 100px;
                margin-bottom: 0;
            }
        }
        .frame{
            display: flex;
            flex-direction: row;
            align-items: center;
            .frame-list{
                .img-style{
                    position: absolute;
                    z-index: -1;
                    border-radius: 20px;
                    height: 225px;
                    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
                }
                .picture-title{
                    margin: 0px 0px;
                    height: 225px;
                    width: 300px;
                    font-size: 30px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    color: $myColor;
                    position: relative;
                    .picture-title_top{
                        font-weight: bold;
                        padding: 24px 0px 120px 24px;
                    }
                    .picture-title_bottom{
                        font-size: 18px;
                        font-family: SF Pro Text;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 100%;
                        text-transform: uppercase;
                        padding-left: 24px;
                        // .icon-list-picture{
                            img{
                                position: absolute;
                                top: 171px;
                                left: 246px;
                                display: flex;
                                width: 30px;
                                height: 30px;
                            }
                    }
                }
            }
        }
    }   
        
    
}